@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1>Metody szyfrujące</h1>
    <p class="homeMainTitle">Wybierz interesujący Cię szyfr z listy na górze!</p>
</div>
<br/>
<div>
    Szyfry są <span style="font-weight: bold">metodami konwersji danych</span> na formę zaszyfrowaną, stosowanymi do ochrony poufnych informacji.<br/>
    Istnieją różne rodzaje szyfrów, w tym szyfry podstawieniowe i szyfry przesuwające. <br/>
    Klucze szyfrujące są kluczowe dla procesu szyfrowania i odszyfrowywania danych. <br/>
    Bezpieczeństwo szyfrów jest kluczowe dla zapewnienia poufności przekazywanych informacji. <br/>
</div>
<br/>
<br/>
<div>
    <p class="homeTitle">Poniżej znajduje się opis szyfrów zastosowanych w tym programie:</p>
    <p class="afterHomeTitle">wszystkie szyfry obsługuja wyłącznie 35 znaków polskiego alfabetu (Aa - Żż)</p>
    <br/>
    <h4>Szyfr cezara</h4>
    <p>Szyfr Cezara, nazwany na cześć Juliusza Cezara, to jedna z najprostszych i najbardziej znanych technik szyfrowania podstawieniowego. 
        Szyfr ten polega na <span>przesuwaniu liter w alfabecie o stałą liczbę pozycji</span>. 
        Szyfr Cezara można łatwo złamać metodą brute force, próbując wszystkie możliwe kombinacje przesunięć. </p>
    <br/>
     <h4>Szyfr polibiusza</h4>
    <p>Szyfr Polibiusza, nazwany od nazwiska jego twórcy, to szyfr monoalfabetyczny, który <span>przekształca litery alfabetu i cyfry (w tym programie tylko litery) w pary współrzędnych na siatce</span>. 
        Każda litera lub cyfra jest kodowana za pomocą dwóch liczb, które określają jej pozycję w siatce (wiersz i klumna). Szyfr Polibiusza jest stosunkowo prosty, 
        ale może być skuteczny w ukryciu informacji, zwłaszcza w przypadku krótkich wiadomości. Jego zastosowanie obejmuje komunikację wojskową, 
        kryptografię amatorską oraz zabawy związane z ukrywaniem tajemniczych wiadomości. <br/>
        W tym programie dodatkowo litery znajdujące się na pozycjach będących liczbami pierwszymi mają zamienioną miejscami cyfrę rzędu z cyfrą kolumny.</p>
    <br/>
     <h4>Szyfr Trithemiusa</h4>
    <p>Szyfr Trithemiusa, stworzony przez niemieckiego mnicha Jana Trithemiusa w XV wieku, jest rodzajem szyfru przesuwającego, podobnego do szyfru Cezara. 
        Jednak w odróżnieniu od szyfru Cezara, <span>wartość przesunięcia znaku zmienia się w zależności od pozycji litery w tekście</span>. 
        Ta inkrementacja wartości przesunięcia sprawia, że szyfr Trithemiusa jest bardziej złożony i trudniejszy do złamania. 
        Choć nie był tak powszechnie używany jak inne szyfry, to stanowi ciekawy przykład w historii kryptografii.</p>
    <br/>
</div>