@{
    ViewBag.Title = "Polibius Cipher";
    char[,] matrix = ViewBag.PolibiusMatrix; 
}

<h2>Szyfr Polibiusza</h2>

<form asp-action="EncryptDecrypt" asp-controller="Polibius">
    <div class="form-group">
        <label for="text">Tekst:</label>
        <textarea name="text" id="text" class="form-control" rows="3">@ViewBag.Result</textarea>
    </div>
    
    <br/>
    
    <table class="table table-bordered polibiusTable">
        @for (int i = 0; i < 5; i++)
        {
            <tr>
            @for (int j = 0; j < 7; j++)
            {
                <td><input type="text" name="v@(i)@(j)" value="@matrix[i, j]" maxlength="1" size="1"/></td>
            }
            </tr>
        }
    </table>
    @if (ViewBag.DangerText != null)
    {
        <div class="text-danger">
            <p>@ViewBag.DangerText</p>
        </div>
    }
    
    <button type="submit" class="btn btn-primary" name="action" value="encrypt">Szyfruj</button>
    <button type="submit" class="btn btn-primary" name="action" value="decrypt">Deszyfruj</button>
</form>

<br/>

@if (ViewBag.Result != null)
{
    <div class="result">
        <h3>Wynik: </h3><p>@ViewBag.Result</p>
    </div>
}