html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.polibiusTable input
{
  border: none;
  text-align: center;
  width: 100px;
  text-transform: uppercase;
}

.table-bordered>:not(caption)>*>* {
  text-align: center;
}

.homeMainTitle{
  border-bottom: 1px solid black; 
  padding-bottom: 25px
}

h4+p{
  text-align: justify;
}

h4+p>span{
  font-weight: bold
}

.homeTitle
{
  border-top: 1px solid black; 
  padding-top: 25px; 
  font-weight: bold; 
  margin-bottom: 0; 
  font-size: 20px;
}

.afterHomeTitle
{
  margin-top: 0; 
  font-size: 17px
}
