@{
    ViewBag.Title = "Vigenère’a Cipher";
}

<h1 style="text-align: center">Szyfr Vigenère’a</h1>
<br/>
<form asp-action="EncryptDecrypt" asp-controller="Vigenere">
    <div class="form-group">
        <textarea name="text" id="text" class="form-control" rows="3" placeholder="wprowadź tekst">@ViewBag.Result</textarea>
    </div>
    
    <div class="form-group" >
        <label for="keyWorld">Słowo klucz:</label>
        <input type="text" class="form-control" name="keyWorld" value="@ViewBag.KeyWorld" placeholder="słowo klucz"/>
    </div>
    
    @if (ViewBag.DangerText != null)
    {
        <div class="text-danger">
            <p>@ViewBag.DangerText</p>
        </div>
    }
    
    <br/>
    
    <div style="text-align: center">
        <button type="submit" class="btn btn-primary" name="action" value="encrypt">Szyfruj</button>
        <button type="submit" class="btn btn-primary" name="action" value="decrypt">Deszyfruj</button>
    </div>
</form>

<br/>

@if (ViewBag.Result != null)
{
    <div class="result">
        <h3>Wynik: </h3><p>@ViewBag.Result</p>
    </div>
}